html {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.page {
    max-width: 100vw;
    margin: auto;
}

.description {
    padding: 20px;
    margin: auto;
    font-size: large;
}

.explain {
    text-align: center;
}

input {
    width: 100px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    opacity: 0;
}

.canvas {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
}

.table {
    /*border: 1px solid red;*/
    margin: 0 auto;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
}

/*each list item*/
.card {
    width: 125px;
    height: 125px;
    list-style-type: none;
    margin: 10px;
/*    padding: 20px;
*/    /*padding added*/
    position: relative;
    cursor: pointer;
}

.front {
    width: 90%;
    height: 90%;
    padding: 5%;
    position: absolute;
    border: 1px solid black;
    border-radius: 25%;

    /* initial position */
    backface-visibility: hidden;
    transform: perspective(500px) rotateY(-179deg);
    transition: all 1s;
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid black;
    border-radius: 25%;

    /* initial position */
    transform: perspective(500px) rotateY(0deg);
    backface-visibility: hidden;
}

.match > .front {
    transform: rotateY(0deg);
}

.shown > .front {
    transform: perspective(500px) rotateY(0deg);
    transition: all 1s;
}
.shown > .back {
    transform: perspective(500px) rotateY(179deg);
    transition: all 1s;
}

.hidden > .front {
    transform: perspective(500px) rotateY(-179deg);
    transition: all 1s;
}
.hidden > .back {
    transform: perspective(500px) rotateY(0deg);
    transition: all 1s;
}




